<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>App</title>
</head>

<body>
    {{#each message}}
    <div>
        <span>{{this.town}}</span>
        <span>{{this.date}}</span>
    </div>
    <br/>
    {{/each}}
</body>

</html>